{% extends "Category/base.html" %} {% block catebody %}





<section id="content" class="two-column with-right-sidebar">
	<article>
		{% for category in object_list %}
			<h3><a href = "{{category.id}}" >{{category.category}}</a></h3>
		{% endfor %}
		
	</article>
</section>

<aside class="sidebar big-sidebar right-sidebar">


	<ul>
		<li class="color-bg">
			<h3 style="color: #000000">최근 게시물</h3>

			<ul class="newslist">
				<li>
				{% for article in new_list %}
					<fieldset>
						<legend>{{article.publication_date}}{{article.category.category}}</legend>


						<code>{{article.title}}</code>

						<blockquote>
							<h5 style="color: #000000">{{article.content}}</h5>
							<h5 style="color: #000000">작성자 {{ article.authors }} 
							{{ article.IP_addr }}</h5>
							<a class="button" href="#" style="position: relative; left: 0px">
								좋아요 {{ article.like }}</a> <a class="button" href="http://127.0.0.1:8000/{{article.id}}"
								style="position: relative; left: 70px">자세히</a>

						</blockquote>

					</fieldset> 
				{% endfor %}
				</li>

			</ul>
	</ul>

</aside>


{% endblock %}
