{% extends "insert.html" %} {% block contents %}

<div class="row">
	<div class="col-md-6"></div>
	<div class="col-md-6">

		{% for article in object_list %}
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading">{{ article.title }}</div>
				<div class="panel-body">
					
					
					<div class="row">
						<div class="col-md-12">{{ article.content }}</div>
						<div class="col-md-6">{{ article.authors }}</div>
						<div class="col-md-6">{{ article.publication_date}}</div>
					</div>


					<button type="button" class="btn btn-primary btn-lg">
						<span class="glyphicon glyphicon-thumbs-up"></span> 
						{{ article.like }}
					</button>

				</div>
			</div>


		</div>
		{% endfor %}

	</div>
</div>





{% endblock %}
