<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 위 3개의 메타 태그는 *반드시* head 태그의 처음에 와야합니다; 어떤 다른 콘텐츠들은 반드시 이 태그들 *다음에* 와야 합니다 -->
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../../favicon.ico">

<title>Theme Template for Bootstrap</title>

<!-- Bootstrap core CSS -->
<link href="../static/css/bootstrap.min.css" rel="stylesheet">
<!-- Bootstrap theme -->
<link href="../static/css/bootstrap-theme.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<!-- <link href="../static/css/theme.css" rel="stylesheet"> -->
<!-- Custom styles for this template -->
<link href="../static/css/styles.css" rel="stylesheet">

<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
<script src="../../assets/js/ie-emulation-modes-warning.js"></script>



</head>

<body role="document">


	<nav class="navbar navbar-inverse navbar-fixed-top"
		margin-bottom="20px">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">ONOFF시위광장</a>
			</div>


			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">

					<li><a href="/Agora">광장</a></li>
					<li><a href="/Map">시위지도</a></li>

				</ul>

				<form class="navbar-form navbar-left" role="search" action="/Search">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Search">
					</div>
					<button type="submit" class="btn btn-default">검색</button>
				</form>

				<ul class="nav navbar-nav navbar-right">
					<li><a href="/Login">로그인</a></li>
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-expanded="false">마이
							페이지 <span class="caret"></span>
					</a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="/Mypage">마이 페이지</a></li>
							<li class="divider"></li>
							<li><a href="#">내 시위</a></li>
							<li><a href="#">내 댓글</a></li>
							<li class="divider"></li>
							<li><a href="#">로그아웃</a></li>
						</ul></li>
				</ul>

			</div>
			<!--/.nav-collapse -->



		</div>
	</nav>


	<div class="container theme-showcase" role="main">
		<div class="jumbotron">{% block content %}{% endblock %}</div>
	</div>


	<div class="container" margin-bottom="20px">
		<hr class="featurette-divider">
		<footer>
			<p class="pull-right">
				<a href="#">Back to top</a>
			</p>
			<p>
				&copy; 2016 동보아파트 114호 StartUP Company, Inc. &middot; <a href="#">Privacy</a>
				&middot; <a href="#">Terms</a>
			</p>
		</footer>
	</div>



	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="../static/js/bootstrap.min.js"></script>
	<script src="../../assets/js/docs.min.js"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
	<script src="../static/holder/holder.js"></script>


	<script
		src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script
		src="//mugifly.github.io/jquery-simple-datetimepicker/jquery.simple-dtpicker.js"></script>
	<script>
	    $(function(){
	      $('.datetimepicker').appendDtpicker({'locale':'ko'});
	    });
	</script>

</body>


</html>