<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>frissonbiz - Free CSS Template by ZyPOP</title>


<link rel="stylesheet" href="../static/css/reset.css" type="text/css" />
<link rel="stylesheet" href="../static/css/styles.css" type="text/css" />
<link
	href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
	rel="stylesheet">


<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<script type="text/javascript" src="../static/js/jquery.js"></script>
<script type="text/javascript" src="../static/js/slider.js"></script>
<script type="text/javascript" src="../static/js/superfish.js"></script>

<script type="text/javascript" src="../static/js/custom.js"></script>

<meta name="viewport"
	content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />


</head>
<body>
	<div id="container" class="width">

		<header>
			<div class="width">

				<h1>
					<a href="/">USW<strong>Freemedia</strong></a>
				</h1>

				<nav>

					<ul class="sf-menu dropdown">


						<li class="selected"><a href="index.html"><i
								class="fa fa-home"></i> Home</a></li>

						<li><a href="examples.html"><i class="fa fa-code"></i>
								Style examples</a>

							<ul>
								<li><a href="three-column.html">Three Column</a></li>
								<li><a href="one-column.html">One Column</a></li>
								<li><a href="text.html">Text page</a></li>
							</ul></li>

						<li><a href="#"><i class="fa fa-briefcase"></i> Services</a></li>

						<li><a href="#"><i class="fa fa-database"></i> Products</a>

							<ul>
								<li><a href="#">Product One</a></li>
								<li><a href="#">Product Two</a></li>
								<li><a href="#">Product Three</a></li>
							</ul></li>

						<li><a href="#"><i class="fa fa-phone"></i> Contact</a></li>
					</ul>


					<div class="clear"></div>
				</nav>
			</div>

			<div class="clear"></div>


		</header>


		<div id="intro">

			<div class="width">

				<div class="intro-content">

					<h2>당신의 목소리를 내주세요</h2>

					<form action="#" method="get">


						<p>

							<textarea cols="55" rows="2" name="message" id="message"></textarea>
						</p>
						<p>
							<input name="send" class="formbutton" value="게시물 작성"
								type="submit" />
						</p>
					</form>






				</div>

			</div>


		</div>
		

		<div id="body" class="width">



			<section id="content" class="two-column with-right-sidebar">


				<h2>뉴스피드</h2>

				<fieldset>
					<legend>2016.2.19</legend>


					<code>불만이 있습니다</code>

					<blockquote>
						<h5 style="color: #000000">이래서야 되겠습니까</h5>
						<h5>작성자 오상택</h5>

						<a class="button" href="#" style="position: relative; left: 500px">Read
							more</a>

						<div id="disqus_thread"></div>
						<script>
							/**
							 * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
							 * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
							 */
							 
							var disqus_config = function() {
								 // Replace PAGE_URL with your page's canonical URL variable
								this.page.identifier = '1111'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
							};
							(function() { // DON'T EDIT BELOW THIS LINE
								var d = document, s = d.createElement('script');

								s.src = '//uswfreemedia.disqus.com/embed.js';

								s.setAttribute('data-timestamp', +new Date());
								(d.head || d.body).appendChild(s);
							})();
						</script>




					</blockquote>


				</fieldset>

				<fieldset>
					<legend>2016.2.19</legend>


					<code>불만이 있습니다</code>

					<blockquote>
						<h5 style="color: #000000">이래서야 되겠습니까</h5>
						<h5>작성자 오상택</h5>

						<a class="button" href="#" style="position: relative; left: 500px">Read
							more</a>


						<div id="disqus_thread"></div>
						<script>
							/**
							 * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
							 * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
							 */
							/*var disqus_config = function() {
								// Replace PAGE_URL with your page's canonical URL variable
								this.page.identifier = '2'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
							};*/
							(function() { // DON'T EDIT BELOW THIS LINE
								var d = document, s = d.createElement('script');

								s.src = '//uswfreemedia.disqus.com/embed.js';

								s.setAttribute('data-timestamp', +new Date());
								(d.head || d.body).appendChild(s);
							})();
						</script>

					</blockquote>




				</fieldset>





			</section>

			<aside class="sidebar big-sidebar right-sidebar">


				<ul>
					<li class="color-bg">
						<h3 style="color: #000000">최근 게시물</h3>
						<ul class="newslist">
							<li>
								<fieldset>
									<legend>2015.10.14</legend>


									<code>불만이 있습니다</code>

									<blockquote>
										<h5 style="color: #000000">이래서야 되겠습니까</h5>

									</blockquote>

								</fieldset>
							</li>









						</ul>
			</aside>
			<div class="clear"></div>
		</div>
		<footer class="width">
			<div class="footer-content">
				<ul>
					<li><h4>Proin accumsan</h4></li>
					<li><a href="#">Rutrum nulla a ultrices</a></li>


				</ul>

				<ul>
					<li><h4>Condimentum</h4></li>
					<li><a href="#">Curabitur sit amet tellus</a></li>


				</ul>

				<ul>
					<li><h4>Suspendisse</h4></li>
					<li><a href="#">Morbi hendrerit libero </a></li>
				</ul>

				<ul class="endfooter">
					<li><h4>Suspendisse</h4></li>
					<li>Integer <br /> <br />

						<div class="social-icons">

							<a href="#"><i class="fa fa-facebook fa-2x"></i></a> <a href="#"><i
								class="fa fa-twitter fa-2x"></i></a> <a href="#"><i
								class="fa fa-youtube fa-2x"></i></a> <a href="#"><i
								class="fa fa-instagram fa-2x"></i></a>

						</div>

					</li>
				</ul>

				<div class="clear"></div>
			</div>
			<div class="footer-bottom">
				<p>&copy; Since 2016. By 수원대 졸업생</p>
			</div>
		</footer>
	</div>
</body>
</html>